<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>작품 수정</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <form th:action="@{'/user/book/edit/' + ${bookTitle}}" method="post">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>작품 제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="inputTitle" th:value="${book.title}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label"><strong>작가 이름</strong></label>
            <div class="col-sm-10">
                <span sec:authentication="name" class="form-control" id="inputName"></span>
            </div>
        </div>
        <select class="form-select" aria-label="Default select example" th:name="category">
            <option selected>카테고리 선택</option>
            <option value="여행">여행</option>
            <option value="시사">시사</option>
            <option value="IT">IT</option>
            <option value="음악">음악</option>
            <option value="직장생활">직장생활</option>
            <option value="스타트업">스타트업</option>
            <option value="운동">운동</option>
            <option value="디자인">디자인</option>
            <option value="운동">마케팅</option>
            <option value="동물">동물</option>
        </select>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{'/user/book/' + ${bookTitle}}" role="button">나가기</a>
            </div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="등록"/>
            </div>
        </div>
    </form>
</div>
<script src="../js/bootstrap.min.js"></script>
<script src="../css/bootstrap.min.css"></script>
</body>
</html>