<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>팔로잉 리스트</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/user/book}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h3><span th:text="|${writer}님의 팔로워 리스트|" class="badge badge-secondary"></span></h3>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">팔로워</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${followerList}">
            <td scope="row">
                <a th:href="@{'/user/myPage/' + ${post.follower}}">
                    <span th:text="${post.follower}"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-auto">
        <a class="btn btn-secondary" th:href="@{'/user/myPage/' + ${writer}}" role="button">나가기</a>
    </div>
</div>
<script src="../js/bootstrap.min.js"></script>
<script src="../css/bootstrap.min.css"></script>
</body>
</html>