<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">Editoria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${not#authorization.expression('hasRole(''WRITER'')')}">
                <a class="nav-link" th:href="@{/user/writer}">작가등록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{'/user/book'}">Editoria 북</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{'/user/warn'}">이용수칙</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="mb-3 fw-semibold">Editoria 글쓰는 공간</h1><br>
        <p class="lead mb-4">
            사진 한장과 함께 여러분의 글을 써보세요!
            모두가 작가가 되는 길, Editoria
        </p>
    </div>
</div>
</body>
</html>